# All migration folders in all apps
migrations/

# Mac stuff?
*.jpeg
*.pages

# Compiled python files and the DB file.
*.pyc
*.sqlite3

# Linux related stuff
.git-credentials
.gitconfig
.bash_history



#Top-level ignores:

# Venv
/venv/

# Collect-static static dir
/static/
