
/*navbar:*/
.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

.navbar {
	background-color: #2c3b4b;
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}

html, body {
    overflow-x: hidden;
}

/*Form:*/

.flex-container {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #fffef7;
	justify-content: center;
}

.flex-container h3 {
	text-align: center;
	/*padding-bottom: 30px;*/
	color: #2c3b4b;
}

.flex-container h5 {
	color: #2c3b4b;
	padding-top: 20px;
	padding-bottom: 10px;
}

.col-md-8 {
	justify-content: center;
}

/*.btn {
	margin-top: 40px;
}*/

/*.panel-heading {
	border-bottom: 4px solid #2c3b4b;
}*/




/*Footer:*/
footer {
	background-color: #2c3b4b;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: white;
}

.container1 h5 {
	color: white;
}

.container1 h4 {
	color: white;
}

.container1 p {
	color: white;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #808080;
    /*border-bottom: 3px solid white;*/
}