body {
    /*font-family: 'Oxygen', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Arimo', sans-serif;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Mukta', sans-serif;
    /*font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;*/
}

/*navbar:*/
.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #ace5ee;
	font-family: "Arial";
}

.navbar {
	background-color: #667569;
}

a.nav-link {
	color: #ffffff;
}

a.active {
	color: #989898;
}

.navbar .navbar-nav li a:hover {
	color: #989898;
}

.panel-default {
	padding-top: 14px;
	padding-bottom: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Overlay:*/
/*.overlay-container {
    width: 80%;
    height: 80%;
}*/

#overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; 
    margin: 0 auto;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    margin: 0 auto;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay3 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    margin: 0 auto;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay1-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay2-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay3-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*Form:*/
#inner-form-container h3 {
	color: black;
    font-weight: bold;
}

#form-container {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f7f7f7;
}

.panel-default1 h5 {
    text-align: center;
}

.panel-default {
    padding-top: 15px;
}

.panel-heading {
	text-align: center;
}

#form-container h5 {
	margin-top: 20px;
	/*margin-bottom: 5px;*/
}

.error-message p {
    color: red;
}

.btn-reg {
	margin-top: 40px;
}

#phone-row h5 {
    margin-top: 5px;
}

#area-row h5 {
    margin-top: 5px;
}

#area-row {
    margin-bottom: 20px;
}


/*Footer:*/
footer {
	background-color: #667569;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.footer-row {
	margin: 0;
}

#footer-container {
	padding: 0;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: #ffffff;
}

.container1 h5 {
	color: #ffffff;
}

.container1 h4 {
	color: #ffffff;
}

.container1 p {
	color: #ffffff;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #989898;
    /*border-bottom: 3px solid white;*/
}