/*navbar:*/
.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

.navbar {
	background-color: #2c3b4b;
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}