body {
    /*font-family: 'Oxygen', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Arimo', sans-serif;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Mukta', sans-serif;*/
    /*font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;*/
}

html {
    height: 100%;
    width: 100%;
}

/*navbar:*/

/*Background color:*/
.navbar {
    background-color: #667569;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*Brand color and font:*/
.navbar-custom .navbar-brand {
    margin-bottom: 3px;
    color: #ace5ee;
    font-family: 'Noto Serif', serif;
}

/*Link color (not active or hover):*/
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/*Link active color:*/
.navbar-custom .nav-item.active .nav-link {
    color: #989898;
}

/*Link hover color:*/
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: #989898;
}

.main{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    width:100%;
    background-color: #f7f7f7;
}

.container-fluid {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
}

/*Form styling:*/
.panel-default {
    padding-top: 14px;
    padding-bottom: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inner-form-container {
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
}

#inner-form-container h3 {
    color: black;
    font-weight: bold;
}



.panel-default1 h5 {
    text-align: center;
}

.panel-default {
    padding-top: 15px;
}

.panel-heading {
    text-align: center;
}

#form-container h5 {
    margin-top: 20px;
    /*margin-bottom: 5px;*/
}

.error-message p {
    color: red;
}

.btn-reg {
    margin-top: 40px;
}

#phone-row h5 {
    margin-top: 5px;
}

#area-row h5 {
    margin-top: 5px;
}

#area-row {
    margin-bottom: 20px;
}

/*Overlay:*/

button {
    margin-bottom: 30px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; 
    margin: 0 auto;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}




/*Footer:*/
footer {
    background-color: #667569;
    color: white;
}

.footer-container {
    background-color: #667569;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    margin-top: 0px;
}

#contact {
    padding-right: 2%;
}
  
a {
    color:white;
}

a:hover {
    /*color: #989898;*/
    /*color: grey;*/
    color: #a9a9a9;
    text-decoration: none;
}