
/*navbar:*/
.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

.navbar {
	background-color: #2c3b4b;
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}

/*Form:*/
#form-container h2 {
	color: black;
}

#form-container {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fffef7;
}

.panel-heading {
	text-align: center;
}

.btn-reg {
	margin-top: 40px;
}

.panel-body {
	margin-top: 20px;
}

.panel-body h5 {
	margin-top: 10px;
}

/*Explanation container:*/
#explanation-container {
	background-color: #fffef7;
}

/*Footer:*/
footer {
	background-color: #2c3b4b;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.footer-row {
	margin: 0;
}

#footer-container {
	padding: 0;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: white;
}

.container1 h5 {
	color: white;
}

.container1 h4 {
	color: white;
}

.container1 p {
	color: white;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #808080;
    /*border-bottom: 3px solid white;*/
}