html {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

#main-container {
    height: 80.8%;
    width: 100%;
}

#image1 {
    background-image: url('/static/images/welcome_slice1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.3%;
    width: 100%;
    color: white;
}

#image2 {
    background-image: url('/static/images/welcome_slice2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 33.3%;

}

#image3 {
    background-image: url('/static/images/welcome_slice3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.3%;
    width: 100%;

}



/*Navbar:*/
.navbar {
	background-color: #2c3b4b;
}

.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}

/*Main container*/

.container-fluid {
    background-color: #fffef7;
    padding: 0;
}

h1 {
    color: white;
    color: #e3f2fd;
    opacity: 1;
}

.carousel-caption {
    top: 60px;
    text-align: center;
    background-color: #2c3b4b;
    opacity: 0.5;
}

/*Footer:*/
#footer-container {
	padding: 0px;
}

.footer-row {
	margin: 0;
}

footer {
	background-color: #2c3b4b;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: white;
}

.container1 h5 {
	color: white;
}

.container1 h4 {
	color: white;
}

.container1 p {
	color: white;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #808080;
    /*border-bottom: 3px solid white;*/
}



