/*Styles for navbar:*/
.navbar {
	background-color: #2c3b4b;
}

.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}

/*Main container:*/
/*.container-fluid {
	background-color: #fffef7;
}*/

/*h2 {
	padding-bottom: 40px;
	font-style: oblique;
}*/

/*Parallax:*/
.parallax {
	padding: 0;
}

.paral {
min-height: 800px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
border-radius: 0px;
}
 
/* Paragragh for Parallax Section */ 
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}
 
/* Heading for Parallax Section */ 
.paral h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 60px;
text-align: center;
padding-top: 300px;
line-height: 100px;
}
 
/* Image for Parallax Section */ 
.paralsec1 {
background-image: url("/static/images/2.jpg");
}
 
.paralsec2 {
background-image: url("/static/images/8.jpg");}
 
.paralsec3 {
background-image: url("/static/images/3.jpg");
}

.paralsec4 {
background-image: url("/static/images/10.jpg");
}

/*Need to load images from static folder*/

/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}

/*Footer:*/
footer {
	background-color: #2c3b4b;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: white;
}

.container1 h5 {
	color: white;
}

.container1 h4 {
	color: white;
}

.container1 p {
	color: white;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #808080;
    /*border-bottom: 3px solid white;*/
}

/*Problem: can't get hover to work on footer links*/

