html {
    height: 100%;
    width: 100%;
}

/*Navbar:*/
.navbar {
	/*background-color: #2c3b4b;*/
    /*background-color: #556b2f;*/
    /*background-color: #828e84;*/
    background-color: #667569;
    margin-bottom: 48px;
}

.brand {
	margin-bottom: 0px;
} 

h5.brand {
	/*color: #e3f2fd;*/
    /*color: #92A095;*/
    color: #dbe9f4;
	font-family: "Arial";
}

a.nav-link {
	color: white;
}

a.active {
    color: #989898;
}

.navbar .navbar-nav li a:hover {
	color: #989898;
}

/*Main container*/

body {
    padding-top: 48px;
    height: 100%;
    width: 100%;
}

#main-container {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 15%;
}

#info-box {
    display: inline-block;
    width: 90%;
    height: 33%;
    background-color: #f8f8ff;
    margin: 15px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px grey;
    border: 1px black;
}

#photo-box1 {
    height: 100%;
    background-image: url('/static/images/welcome1_md.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#photo-box2 {
    height: 100%;
    background-image: url('/static/images/welcome2_md.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#photo-box3 {
    height: 100%;
    background-image: url('/static/images/welcome3_md.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#text-box {

}





/*Footer:*/
#footer-container {
	padding: 0;
    /*margin-top: 120px;*/
}

.footer-row {
	margin: 0;
}

footer {
	background-color: #667569;
	padding-top: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.container2 {
	text-align: center;
}

.container2 p {
	color: white;
}

.container1 h5 {
	color: white;
}

.container1 h4 {
	color: white;
}

.container1 p {
	color: white;
}

.footer-links li a:hover {
    text-decoration: none;
    /*border-bottom: 6px solid white;*/
}

.footer-links li a h5:hover {
    color: #989898;
    /*border-bottom: 3px solid white;*/
}



