{% extends 'performances_base.html' %}

{#
    instruments = list of all instruments.
#}

<head>
    {% load static %}

    <!-- Load CSS (different for each template): -->
    {% block load_css %}
        <link rel="stylesheet" type="text/css" href='{% static "css/add.css" %}'>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'users:dashboard' %}">DASHBOARD</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'performances:upcoming' %}">UPCOMING PERFORMANCES</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="{% url 'performances:add' %}">ADD PERFORMANCE</a>
                </li>

                <!-- Instruments dropdown: -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle scrollable-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INSTRUMENTS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for instrument in instruments %}
                            <a href="{% url 'instruments:individual_display' instrument.id %}" class="dropdown-item"> {{ instrument.name }} </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="#">LOGOUT</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    {% block main_body %}
	    <div class="container-fluid" id="main-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-fluid" src='{% static "images/10.jpg" %}' alt="" class="img-responsive">
                    <div class="carousel-caption">
                        <h1>Add Performance feature is coming soon!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>