{% extends 'users_base.html' %}
{% load static %}

{#
user = Member object that is currently logged in (with all attributes).
#}

{# 
    instruments = list of all instruments. 
#}

{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/dashboard.css" %}'>
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-custom">

    <!-- Logo -->
    <!-- If using brand link: -->
    <!-- <a class="navbar-brand brand" href="{% url 'public:welcome' %}">Houston Chamber Music Network</a> -->

    <!-- If no link: -->
    <h5 class="brand">Houston Chamber Music Network</h5>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar links -->
        <ul class="navbar-nav mr-4">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:dashboard' %}">DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'performances:upcoming' %}">UPCOMING PERFORMANCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'performances:add' %}">ADD PERFORMANCE</a>
            </li>
            <!-- Instruments dropdown: -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle scrollable-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FIND PLAYERS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for instrument in instruments %}
                        <a href="{% url 'instruments:individual_display' instrument.id %}" class="dropdown-item"> {{ instrument.name }} </a>
                    {% endfor %}
                </div>
            </li>
        </ul>

        <!-- Navbar right -->
        <ul class="navbar-nav ml-auto">
            <!-- Link to external login: -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout_handler' %}">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main_content %}
<!-- Div for card deck: -->
<div class="card-deck py-3 px-5">
    <!-- Information card: -->
    <div class="card">

        <!-- Card-header: -->
        <div class="card-header bg-transparent">
            <h4>Your Information</h4>
        </div>

        <!-- Card-body: -->
        <div class="card-body">
            <div class="card-text py-5">
                <dl class="row">
                    <dt class="col-sm-5">Name</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                    </dd>

                    <dt class="col-sm-5">Email</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.email }}</p>
                    </dd>

                    <dt class="col-sm-5">Phone</dt>
                    <dd class="col-sm-7">
                        <p>({{ user.phone_number|slice:"0:3" }}) {{ user.phone_number|slice:"3:6" }}-{{ user.phone_number|slice:"6:10" }}</p>
                    </dd>

                    <dt class="col-sm-5">Address</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.street_address }}</p>
                        <p>{{ user.city }}, {{ user.state }}</p>
                        <p>{{ user.zip_code }}</p>
                    </dd>

                    <dt class="col-sm-5">Primary instrument</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.primary_instrument }}</p>
                    </dd>

                    <dt class="col-sm-5">Second instrument</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.secondary_instrument }}</p>
                    </dd>

                    <dt class="col-sm-5">Location</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.area }}</p>
                    </dd>

                    <dt class="col-sm-5">HCMN Rating</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.get_rating_display }}</p>
                    </dd>

                    <dt class="col-sm-5">Bio</dt>
                    <dd class="col-sm-7">
                        <p>{{ user.bio }}</p>
                    </dd>
                </dl>
            </div>
        <!-- End div for card-body: -->
        </div>

        <!-- Card-footer: -->
        <div class="card-footer bg-transparent">
            <a href="{% url 'users:edit_member' user.id %}" class="btn btn-reg btn-info btn-block">EDIT INFORMATION</a>
        </div>
    <!-- End div for information card: -->
    </div>

    <!-- Performances card: -->
    <div class="card">
        <div class="card-header bg-transparent">
            <h4>Your performances</h4>
        </div>

        <div class="card-body">
            <div class="card-text text-center mt-3 py-5">
                <h5 class="pb-4">Add performance feature is coming soon.</h5>
            </div>
        </div>

        <div class="card-footer bg-transparent">
            <a href="{% url 'performances:add' %}" class="btn btn-reg btn-info btn-block">ADD PERFORMANCE</a>
        </div>
    <!-- End performance card: -->
    </div>

<!-- End card-deck: -->
</div> 
{% endblock %}