{% extends 'users_base.html' %}
{% load static %}

{#
    user = Member object that is currently logged in (with all attributes).
#}

{#
    instruments = list of all instruments.
#}

{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/edit_member.css" %}'>
{% endblock %}

{% block header %}
 <nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-custom">

    <!-- Logo -->
    <a class="navbar-brand brand" href="{% url 'public:welcome' %}">Houston Chamber Music Network</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar links -->
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:dashboard' %}">DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'performances:upcoming' %}">UPCOMING PERFORMANCES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'performances:add' %}">ADD PERFORMANCE</a>
            </li>
            <!-- Instruments dropdown: -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle scrollable-menu" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FIND PLAYERS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for instrument in instruments %}
                        <a href="{% url 'instruments:individual_display' instrument.id %}" class="dropdown-item"> {{ instrument.name }} </a>
                    {% endfor %}
                </div>
            </li>
        </ul>

        <!-- Navbar right -->
        <ul class="navbar-nav ml-auto">
            <!-- Link to external login: -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout_handler' %}">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main_content %}
<header class="main">
    <div class="container outer-container">
        <div class="container-fluid inner-container col-xs-12 col-sm-10 col-md-6">
            <div class="row justify-content-center form-container">
                <form role="form" action="{% url 'users:edit_member' user.id %}" id="form-container" method="POST">
                {% csrf_token %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Edit Information Form</h3>
                        </div>
                    </div>

                    <!-- Divider: -->
                    <div class="panel panel-default">
                        <img class="col-xs-10 col-sm-10 col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                    </div>

                    <div class="panel panel-default divider-panel">
                        <div class="panel-heading">
                            <h5 class="panel-title">For fields you would like to edit, replace saved information with your new information, then click submit.</h5>
                        </div>
                    </div>

                    <!-- Divider: -->
                    <div class="panel panel-default">
                        <img class="col-xs-10 col-sm-10 col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                    </div>

                    <!-- Basic information section: -->
                    <h5>Basic information:</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="{{ user.first_name }}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="{{ user.last_name }}">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="{{ user.email }}">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" name="new_password" id="new_password" class="form-control input-sm" placeholder="New password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" name="new_password" id="new_password" class="form-control input-sm" placeholder="Confirm new password">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div>
                                <p>(Passwords must be at least eight characters long and contain at least one number.)</p>
                            </div>
                        </div>
                    <!-- End basic information section: -->
                    </div>

                    <!-- Address and phone section: -->
                    <h5>Address:</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" name="street_address" id="street_address" class="form-control input-sm" placeholder="{{ user.street_address }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" name="unit_number" id="unit_number" class="form-control input-sm" placeholder="Unit {{ user.unit_number }}">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" name="city" id="city" class="form-control input-sm" placeholder="{{ user.city }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="state" id="state">
                                    <option>Texas</option>
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>Arizona</option>
                                    <option>Arkansas</option>
                                    <option>California</option>
                                    <option>Colorado</option>
                                    <option>Connecticut</option>
                                    <option>Delaware</option>
                                    <option>District of Columbia</option>
                                    <option>Florida</option>
                                    <option>Georgia</option>
                                    <option>Hawaii</option>
                                    <option>Idaho</option>
                                    <option>Illinois</option>
                                    <option>Indiana</option>
                                    <option>Iowa</option>
                                    <option>Kansas</option>
                                    <option>Kentucky</option>
                                    <option>Louisiana</option>
                                    <option>Maine</option>
                                    <option>Maryland</option>
                                    <option>Massachusetts</option>
                                    <option>Michigan</option>
                                    <option>Minnesota</option>
                                    <option>Mississippi</option>
                                    <option>Missouri</option>
                                    <option>Montana</option>
                                    <option>Nebraska</option>
                                    <option>Nevada</option>
                                    <option>New Hampshire</option>
                                    <option>New Jersey</option>
                                    <option>New Mexico</option>
                                    <option>New York</option>
                                    <option>North Carolina</option>
                                    <option>North Dakota</option>
                                    <option>Ohio</option>
                                    <option>Oklahoma</option>
                                    <option>Oregon</option>
                                    <option>Pennsylvania</option>
                                    <option>Rhode Island</option>
                                    <option>South Carolina</option>
                                    <option>South Dakota</option>
                                    <option>Tennessee</option>
                                    <option>Utah</option>
                                    <option>Vermont</option>
                                    <option>Virginia</option>
                                    <option>Washington</option>
                                    <option>West Virginia</option>
                                    <option>Wisconsin</option>
                                    <option>Wyoming</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="{{ user.zip_code }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5>Location:</h5>
                        <textarea type="area" name="area" id="area" class="form-control textarea" rows="3">{{ user.area }}</textarea>
                    </div>

                    <div class="row" id="phone-row">
                        <div class="col-md-4">
                            <h5>Phone:</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" align="right">
                                (<input type="tel" name="tel1" size="3" pattern="\d{3}" placeholder="{{ user.phone_number|slice:"0:3" }}" maxlength="3"/>) 
                                <input type="tel" name="tel2" size="3" pattern="\d{3}" placeholder="{{ user.phone_number|slice:"3:6" }}" maxlength="3"/> - 
                                <input type="tel" name="tel3" size="4" pattern="\d{4}" placeholder="{{ user.phone_number|slice:"6:10" }}" maxlength="4"/>
                            </div>
                        </div>
                    </div>

                    <!-- Section for musical information: -->
                    <h5>Musical information:</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="primary_instrument" id="primary_instrument" placeholder="Primary instrument">
                                    <option selected>{{ user.primary_instrument }}</option>
                                        {% for instrument in instruments %}
                                            <option value='{{ instrument.id }}'>{{ instrument }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="secondary_instrument" id="second_instrument" placeholder="Second instrument">
                                    <option selected>{{ user.secondary_instrument }}</option>
                                    <option>None</option>
                                    {% for instrument in instruments %}
                                        <option value='{{ instrument.id }}'>{{ instrument }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea type="bio" name="bio" id="bio" class="form-control textarea" rows="5">{{ user.bio }}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="SUBMIT FORM" class="btn btn-reg btn-info btn-block">
                        </div>
                    </div>
                <!-- End form: -->
                </form>  
            <!-- End form-container: -->
            </div>
        <!-- End inner-container: -->
        </div>
    <!-- End outer-container: -->
    </div>
<!-- End main: -->  
</header>
{% endblock %}