.brand {
	margin-bottom: 0px;
}

h5.brand {
	color: #e3f2fd;
	font-family: "Arial";
}

.container-fluid {
	background-color: #fffef7;
}

.navbar {
	background-color: #2c3b4b;
}

a.nav-link {
	color: white;
}

a.active {
	color: #808080;
}

.navbar .navbar-nav li a:hover {
	color: #808080;
}

.paral {
min-height: 800px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}
 
/* Paragragh for Parallax Section */ 
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}
 
/* Heading for Parallax Section */ 
.paral h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 60px;
text-align: center;
padding-top: 300px;
line-height: 100px;
}
 
/* Image for Parallax Section */ 
.paralsec {
background-image: url("1.jpg");
}
 
.paralsec1 {
background-image: url("2.jpg");}
 
.paralsec2 {
background-image: url("3.jpg");
}
 
/* Add more images for more sections */
 
/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}


/*off-white*/
/*#fffef7*/

/*gray:
#2c3b4b*/

/*Darker off white:*/
/*#f6f4ec*/

/*light blue:
#e3f2fd*/