<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Houston Chamber Network : Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- css file: -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "css/welcome.css" %}'>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link active" href="#">WELCOME</a>
                </li>

                <li class="navbar-item">
                    <a class="nav-link" href="#">REGISTER AS COACH</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">CALENDAR</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
            </ul>
        </nav>

        <!-- main container: -->
        <div class="container-fluid">
            <div class="container-fluid" style="padding-top: 100px">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Music is the food of the soul and the spirit.</h3>
                    </div>
                </div>
            </div>

            <!-- First Parallax Section -->
            <div class="jumbotron paral paralsec">
                <h1 class="display-3">Connect</h1>
                <p class="lead">with musicians in your area</p>
                <p class="lead"><a class="btn btn-info btn-lg btn-md" href="#" role="button">About us</a></p>
            </div>
 
            <!-- Second Parallax Section -->
            <div class="jumbotron paral paralsec1">
                <h1 class="display-3">Perform</h1>
                <p class="lead">with new friends</p>
                <p class="lead"><a class="btn btn-info btn-lg btn-md" href="widgets.html" role="button">About us</a></p>
            </div>
 
            <!-- Third Parallax Section -->
            <div class="jumbotron paral paralsec2">
                <h1 class="display-3">Learn</h1>
                <p class="lead">From some of Houston's top professionals</p>
                <p class="lead"><a class="btn btn-info btn-lg btn-md" href="themes.html" role="button">About us</a></p>
            </div> 
        </div>
    </div>
        <!-- fixed bottom navbar: -->
          <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT US</a>
                </li>
            </ul>
          </nav>
    </body>
</html>