<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Houston Chamber Network : Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- css file: -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "css/welcome.css" %}'>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link active" href="#">HOME</a>
                </li>

                <li class="navbar-item">
                    <a class="nav-link" href="#">REGISTER AS COACH</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="#">CALENDAR</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
            </ul>
        </nav>

        <!-- main container: -->
        <div class="container-fluid">
            <div class="container-fluid" style="padding-top: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Music is the food of the soul and the spirit.</h3>
                    </div>
                </div>
            </div>

            <!-- container for carousel: -->
            <div class="container-fluid" style="padding: 50px">
                <div class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                     <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="1.jpg" alt="" class="img-fluid">
                            <div class="carousel-caption">
                                <h2>Connect</h2>
                                <h4>with musicians in your area.</h4>
                            </div>
                        </div>
                    <div class="carousel-item">
                        <img src="2.jpg" alt="" class="img-fluid">
                        <div class="carousel-caption">
                            <h2>Perform</h2>
                            <h4>with new friends.</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="3.jpg" alt="" class="img-fluid">
                        <div class="carousel-caption">
                            <h2>Learn</h2>
                            <h4>from some of Houston's top professionals.</h4>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
        <!-- fixed bottom navbar: -->
          <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>
          </nav>
    </body>
</html>