html {
    height: 100%;
    width: 100%;
}

body {
    /*font-family: 'Oxygen', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Arimo', sans-serif;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Mukta', sans-serif;*/
    /*font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;*/
    padding-top: 48px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/*Navbar:*/

/*Background color:*/
.navbar {
    background-color: #667569;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*Brand color and font:*/

/*If using brand link:*/
/*.navbar-custom .navbar-brand {
    margin-bottom: 3px;
    color: #ace5ee;
    font-family: 'Noto Serif', serif;
}*/ 

/*If no link on brand:*/
.navbar-custom .brand {
    margin-bottom: 4px;
    margin-right: 9px;
    color: #ace5ee;
    font-family: 'Noto Serif', serif;
} 

/*Link color (not active or hover):*/
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/*Link hover color:*/
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: #989898;
}

.dropdown-menu {
    max-height: 75vh;
    overflow-y: scroll;
}

/*Main*/
#main-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #f7f7f7;
    justify-content: center;
    height: 100vh;
}


/*Card-deck:*/
.card-deck{
    background-color: #f7f7f7;
}

.card-deck .card{
    border-radius: 2px;
    border: 1px black;
    box-shadow: 3px 3px 3px #36454f;
}