<!-- Main container: -->
        <div class="container-fluid" id="main-container">
            <!-- Primary instrument card: -->
            <div id="card-container">
                <div class="card">
                    <!-- <img src="/static/images/6.jpg" style="width:100%"> -->
                    <div class="card-title">
                        <h4>The following members list {{ instrument.name }} as their primary instrument.</h4>
                        <h5>(Click on name for more information.)</h5>
                    </div>

                    <div class="information-container">
                        <div class="panel panel-default">
                            <img class="col-md-4" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                        </div>

                        {% if not primary_users %}
                            <h5>There are currently no members who list {{ instrument.name }} as their primary instrument.</h5>

                        {% else %}
                            {% for member in primary_users %}
                                <div class="card-name-title">
                                    <h5>
                                        <a href="{% url 'users:individual_member' member.id %}">{{ member.first_name }} {{ member.last_name }}</a>
                                    </h5>
                                </div>
                    
                                <dl class="row">
                                    <dt class="col-md-3">
                                    <dt class="col-sm-1">Rating</dt>
                                    <dd class="col-sm-1">
                                        <p>
                                            <a>{{ member.rating }}</a>
                                        </p>
                                    </dd>
                       
                                    <dt class="col-sm-2">Area of Houston</dt>
                                    <dd class="col-sm-2">
                                        <p>{{ member.area }}</p>
                                    </dd>
                                </dl>
                            {% endfor %}
                        {% endif %}
                        
                    <!-- End div for information container: -->
                    </div>
                <!-- End div for card: -->
                </div>
            <!-- End div for card (primary instrument): -->
            </div>

            <!-- Secondary instrument card: -->
            <div id="card-container">
                <div class="card">
                    <!-- <img src="/static/images/6.jpg" style="width:100%"> -->
                    <div class="card-title">
                        <h4>The following members list {{ instrument.name }} as their secondary instrument.</h4>
                        <h5>(Click on name for more information.)</h5>
                    </div>

                    <div class="information-container">
                        <div class="panel panel-default">
                            <img class="col-md-4" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                        </div>

                    {% if not secondary_users %}
                        <h5>There are currently no members who list {{ instrument.name }} as their secondary instrument.</h5>

                    {% else %}
                        {% for member in secondary_users %}
                            <div class="card-name-title">
                                <h5>
                                    <a href="{% url 'users:individual_member' member.id %}">{{ member.first_name }} {{ member.last_name }}</a>
                                </h5>
                            </div>

                            <dl class="row">
                                <dt class="col-md-3">
                                <dt class="col-sm-1">Rating</dt>
                                <dd class="col-sm-2">
                                    <p>
                                        <a>{{ member.rating }}</a>
                                    </p>
                                </dd>
                      
                                <dt class="col-sm-2">Area of Houston</dt>
                                <dd class="col-sm-2">
                                    <p>{{ member.area }}</p>
                                </dd>
                            </dl>
                        {% endfor %}
                    {% endif %}
                   
                </div>
            <!-- End div for secondary instrument card: -->
            </div>
        <!-- End div for main container: -->
        </div>

        <!-- Format for new table design: -->
        <div class="table-container">
            <h2>The following members list {{ instrument.name }} as their primary instrument</h2>
            <h4>(Click on a name for more information.)</h4>
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Member name</th>
                        <th>HCMN Rating</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dorian Rence</td>
                        <td>Advanced Intermediate</td>
                        <td>Heights, will drive anywhere within loop.</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

