{% extends 'public_base.html' %}
{% load static %}

{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/about.css" %}'>
{% endblock %}


{% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:welcome' %}">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
                </li>
                <!-- <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
                </li> -->
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">

                <!-- Inline login form: -->
                <!-- <form class="form-inline" action="">
                    <input class="form-control mr-sm-2" type="text" placeholder="Email">
                    <input class="form-control mr-sm-2" type="text" placeholder="Password">
                    <button class="btn btn-info" type="submit">LOGIN</button>
                </form> -->

                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block main_content %}
    <div class="container-fluid" id="main-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-fluid" src='{% static "images/about_lg.jpg" %}' alt="" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>About Houston Chamber Music Network</h3><br>
                        <p>Houston Chamber Music Network is an organization designed to help amateur musicians connect with other amateur musicians in order to perform chamber music. Whether you are an oboist looking to find four other musicians to play a wind quintet or you belong to a string quartet that is looking for a flutist to round out a flute quintet, HCMN makes it easy to find musicians in your area with compatible skill levels.</p>
                        <p>There are several ways to participate in Houston Chamber Music Network:</p>
                        <ul>
                        <li>Look for other players for a one-time gig.</li>
                        <li>Look for other players with the goal of putting on a house concert.</li>
                        <li>Look for a substitute player to fill in for your group while one of your members is unavailable.</li>
                        </ul>
                        <p>If you are striving to improve your playing, we also have professional musicians in our network who are available to act either as coaches or as "ringers." The professionals do charge for their time and you are not required to use a coach.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
