<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Houston Chamber Network : Contact Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- css file: -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "css/contact.css" %}'>
    </head>

   <body>
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/public/welcome/">WELCOME</a>
                </li>
                
                <li class="navbar-item">
                    <a class="nav-link" href="/public/register_member/">REGISTER AS MEMBER</a>
                </li>

                <li class="navbar-item">
                    <a class="nav-link" href="/public/register_coach/">REGISTER AS COACH</a>
                </li>
                
                <li class="navbar-item">
                    <a class="nav-link" href="/performances/calendar/">CALENDAR</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="/musicians/login/">LOGIN</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="container-fluid" style="">

                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-fluid" src='{% static "images/7.jpg" %}' alt="" class="img-responsive">
                                <div class="carousel-caption">
                                    <h3>Contact Houston Chamber Music Network:</h3><br>
                                    <h5>Email: michael@hcmn.net</h5><br>
                                    <h5>Phone number: 713-555-5555</h5>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/public/about/">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/public/contact/">CONTACT US</a>
                </li>
            </ul>
          </nav>

    </body>
</html>