{% extends 'public_base.html' %}
{% load static %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>
{% endblock %}


{% block header %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-custom">

    <!-- Logo -->
    <a class="navbar-brand brand" href="{% url 'public:welcome' %}">Houston Chamber Music Network</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar links -->
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
            </li>
        </ul>

        <!-- Navbar right -->
        <ul class="navbar-nav ml-auto">
            <!-- Link to external login: -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}


{% block main_content %}
<header class="main">
    <div class="container">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-10 col-md-4">
                    <form role="form" action="{% url 'users:login_handler' %}" id="form-container" method="post">
                        {% csrf_token %}
                        <h3 class="text-center">Member/Coach Login</h3><br>
                        <div class="panel panel-default">
                            <img class="col-md-12" src='{% static "images/divider9.png" %}' alt="" class="img-fluid">
                        </div>
                        <div class="form-group mt-2">
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group mt-4">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                            <button type="submit" class="btn btn-reg btn-info btn-block mt-4">LOGIN</button>
                        <div class="col-md-12">
                            <div class="login-links text-center mt-4 password-link">
                                <a href="{% url 'public:request_reset' %}">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
