{% extends 'public_base.html' %}
{% load static %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>
{% endblock %}


{% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:welcome' %}">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link active" href="">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}


{% block main_content %}
    <div class="container-fluid" id="main-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-fluid" src='{% static "images/9.jpg" %}' alt="" class="img-responsive">
                    <div class="carousel-caption">
                        <!-- <div class="container-fluid" id="form-container">
                            <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <form role="form" action="" method="POST">
                                    <h1>Login form</h1>
                                    {% csrf_token %}
                                    <input type="text" name="email" placeholder="Email"></input>
                                    <input type="password" name="password" placeholder="Password"></input>
                                    <button type="submit" class="btn btn-dark">Login</button>
                                </form>
                            </div>
                        </div> -->

                        <div class="login-form-container">

                            <form role="form" action="{% url 'users:login_handler' %}" id="form-container" method="post">
                                {% csrf_token %}
                                <h3>MEMBER LOG IN</h3><br>
                                <div class="panel panel-default">
                                    <img class="col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Email" value="{{ old_data.email }}">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                            <input type="submit" value="LOGIN" class="btn btn-reg btn-info btn-block">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="login-links">
                                            <a href="#">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        <!-- End login-form-container div: -->
                        </div>

                    <!-- End div for carousel caption: -->
                    </div>
           
            
            <!-- End div for carousel inner: -->
            </div>
        <!-- End div for carousel: -->
        </div>
    <!-- End div for main container: -->
    </div>










    <!-- <div class="container-fluid" id="form-container">
        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <form method="POST" action="">
                    <h1>Login form</h1>
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username"></input>
                    <input type="password" name="password" placeholder="Password"></input>
                    <button type="submit" class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
    </div> -->
{% endblock %}
