{% extends 'public_base.html' %}

<head>
    {% load static %}

    <!-- Load CSS (different for each template): -->
    {% block load_css %}
        <link rel="stylesheet" type="text/css" href='{% static "css/register_coach.css" %}'>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:welcome' %}">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:register_member' %}">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="{% url 'public:register_coach' %}">REGISTER AS COACH</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:register_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    {% block main_body %}
    <div class="container-fluid" id="form-container">
            <div class="row" id="form-itself">

                <!-- empty div for spacing: -->
                <div class="col-md-4"></div>

                <!-- Div containing actual form: -->
                <div class="col-md-4" id="inner-form-container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">COACH REGISTRATION FORM<sup>*</sup></h3>
                        </div>
                    </div>

                    <!-- Panel for curlicue divider: -->
                    <div class="panel panel-default">
                        <img class="col-md-8" src='{% static "images/divider.jpg" %}' alt="" class="img-responsive">
                    </div>

                    <div class="panel-body">
                        <form role="form" action="/public/coach/register/" method="POST">

                            <!-- Basic information section: -->
                            <h5>Basic information:</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                        <!-- TODO: pop up message with pw requirements -->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="confirm_password" id="confirm_password" class="form-control input-sm" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>

                            <!-- Address and phone section: -->
                            <h5>Address and phone:</h5>
                            <div class="form-group">
                                <input type="text" name="street_address" id="street_address" class="form-control input-sm" placeholder="Street address">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="unit_number" id="unit_number" class="form-control input-sm" placeholder="Unit number">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="state" id="state" class="form-control input-sm" placeholder="State">
                                    </div>
                                </div>
                                <!-- TODO: BS probably has special forms for city, state. Maybe even auto-fill based on address. Probably requires an API. -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="Zip code">
                                    </div>
                                </div>
                            </div>

                            <!-- Section for musical information: -->
                            <!-- TOFIX: Spacing not right here. Why? -->
                            <h5>Musical information:</h5>
                            <div class="row">
                                <!-- TODO: better way to preload instrument names -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" id="primary_instrument" placeholder="Primary instrument">
                                            <option selected disabled>Primary instrument</option>
                                            <option>Instrument1</option>
                                            <option>Instrument2</option>
                                            <option>Instrument3</option>
                                            <option>Instrument4</option>
                                            <option>Instrument5</option>
                                            <option>Instrument6</option>
                                            <option>Instrument7</option>
                                            <option>Instrument8</option>
                                            <option>Instrument9</option>
                                            <option>Instrument10</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" id="secondary_instrument" placeholder="Secondary instrument">
                                            <option selected disabled>Secondary instrument</option>
                                            <option>None</option>
                                            <option>Instrument1</option>
                                            <option>Instrument2</option>
                                            <option>Instrument3</option>
                                            <option>Instrument4</option>
                                            <option>Instrument5</option>
                                            <option>Instrument6</option>
                                            <option>Instrument7</option>
                                            <option>Instrument8</option>
                                            <option>Instrument9</option>
                                            <option>Instrument10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea type="bio" name="bio" id="bio" class="form-control textarea" rows="5" placeholder="Brief musical bio"></textarea>
                            </div>
                            <!-- TODO: set # of words allowed -->

                            <!-- Need attachment capability: -->
                            <input type="submit" value="ATTACH CV" class="btn btn-reg btn-info btn-block">

                            <input type="submit" value="SUBMIT FORM" class="btn btn-reg btn-info btn-block">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>  
        </div>
    </form>

        <div class="container-fluid" id="explanation-container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4><sup>*</sup>What happens after you submit this form?</h4><br>
                    <p>Pellentesque pharetra augue vel malesuada tincidunt. Suspendisse sapien nunc, semper in nisl id, bibendum volutpat ante. Praesent sed risus mauris. Suspendisse dignissim enim velit, nec congue ligula porta in. Nunc ultrices magna nulla, nec bibendum ex mattis vel. Vestibulum dignissim mauris gravida, dignissim nisi non, feugiat sapien. Nam ac tincidunt sem, ut congue odio. Phasellus viverra aliquet sem non convallis. Fusce vitae tincidunt nulla, eu tempus nibh. Nunc a ante feugiat eros laoreet pharetra at sed nisl. Aliquam a lectus vel mi elementum laoreet eu et mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consectetur ac est non posuere. Nam luctus ut augue vel semper. Sed varius leo id massa varius gravida ac a odio. </p>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>