{% extends 'public_base.html' %}
{% load static %}

{#
    instruments = list of all instruments.
#}

{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/register_member.css" %}'>
{% endblock %}


{% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

        <!-- Logo -->
        <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

        <!-- Navbar links -->
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'public:welcome' %}">WELCOME</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link active" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'public:new_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
            </li>
        </ul>

        <!-- Navbar right -->
        <ul class="navbar-nav ml-auto">
            <!-- Link to external login: -->
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
            </li>
        </ul>
        </nav>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container-fluid" id="form-container">
        <div class="row" id="form-itself">

            <!-- empty div for spacing: -->
            <div class="col-md-4"></div>

            <!-- This div contains the actual form: -->
            <div class="col-md-4" id="inner-form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">MEMBER REGISTRATION FORM</h3>
                    </div>
                </div>

                <!-- Panel for curlicue divider: -->
                <div class="panel panel-default">
                    <img class="col-md-6" src='{% static "images/divider1.png" %}' alt="" class="img-responsive">
                </div>

                <!-- Div for overlays: -->
                <div class="panel panel-default">
                    <h5>Before filling out form, please read the following:</h5>

                    <!-- Self-rating overlay: -->
                    <div id="overlay1" onclick="off('overlay1')">
                        <div id="overlay1-text">
                            <div><h5><b>Below, you will be asked to rate your musicianship. Please choose the "grade" that best describes you.</b></h5><br><br></div>
                            <dl class="row">
                                <dt class="col-sm-3">A: Professional</dt>
                                <dd class="col-sm-9">
                                    <p>I play with a beautiful tone. I can play quickly and cleanly in difficult keys and with key/tempo changes. I am a strong leader. I can sight-read all passages cleanly at concert tempo (except pianists). I have keen awareness of other parts and know exactly how they fit.</p>
                                    <!-- <p><b>My challenges:</b> I want to develop a cohesive group sound and wider range in tone color. I need to fine-tune my intonation.</p>
                                    <p><b>My goals:</b> To convey a convincing interpretation, expand my arsenal of tone colors, and refine attention to detail</p> -->
                                </dd>

                                <dt class="col-sm-3">B: Advanced</dt>
                                <dd class="col-sm-9">
                                    <p>I play with a pleasant tone. I can get back in when lost. I can sight-read near concert tempo, except in difficult technical passages. I am aware of other parts and try to match them.</p>
                                    <!-- <p><b>My challenges:</b> The hardest passages sound messy if I take them too fast. My phrasing is sometimes choppy.</p>
                                    <p><b>My goals:</b> To play with more nuance, match my articulation with the group’s, and improve my tone and phrasing</p> -->
                                </dd>

                                <dt class="col-sm-3">C: Intermediate</dt>
                                <dd class="col-sm-9">
                                    <p>I play with a decent tone. I am comfortable at moderate tempi. I am peripherally aware of other parts. I can sight-read at a moderate tempo but slow down the hard sections.</p>
                                    <!-- <p><b>My challenges:</b> I need to slow down in hard sections. I tend to get absorbed in my own part.</p>
                                    <p><b>My goals:</b> To listen more to others, improve leading ability, and develop the technique for complex passages.</p> -->
                                </dd>

                                <dt class="col-sm-3">D: Novice</dt>
                                <dd class="col-sm-9">
                                    <p>I can read music and have basic technical skills. I am starting to explore chamber music repertoire. I can sight-read simple pieces slowly.</p>
                                    <!-- <p><b>My challenges:</b> Often I must slow down in faster or more technical passages. Sometimes I get “tangled” in my own part.</p>
                                    <p><b>My goals:</b> To play with fewer stops, listen more to the group, and learn to lead.</p> -->
                                </dd>
                            </dl>
                        </div>

                    </div>

                    <div style="">
                        <button onclick="on('overlay1')" class="btn btn-reg btn-info btn-block">What's my rating?</button>
                    </div>

                    <!-- What happens overlay: -->
                    <div id="overlay2" onclick="off('overlay2')">
                        <div id="overlay2-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </div>
                    </div>

                    <div style="">
                        <button onclick="on('overlay2')" class="btn btn-reg btn-info btn-block">What happens after I submit this form?</button>
                    </div>

                    <script type="text/javascript">

                        function on(id) {
                            document.getElementById(id).style.display = "block";
                        }

                        function off(id) {
                            document.getElementById(id).style.display = "none";
                        }

                    </script>
                 
                <!-- End div for overlays: -->   
                </div>
                
                <div class="panel-body">
                    <!-- This needs to POST to our users app. -->
                    <form role="form" action="{% url 'users:member_registration_handler' %}" method="POST">
                        {% csrf_token %}

                        <div class="panel panel-default">
                            <img class="col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                        </div>

                        <!-- Basic information section: -->
                        <h5>Basic information:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First name">
                                    {% if 'first_name' in errors %}
                                        {{ errors.first_name }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last name">
                                    {% if 'last_name' in errors %}
                                        {{ errors.last_name }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email address">
                            {% if 'email' in errors %}
                                {{ errors.email }}
                            {% endif %}
                        </div>


                        <div class="panel panel-default">
                            <img class="col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                        </div>
                

                        <!-- Address and phone section: -->
                        <!-- TODO: BS/Django probably has special forms for city, state. Maybe even auto-fill based on address. Probably requires an API. -->
                        <h5>Address and phone:</h5>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" name="street_address" id="street_address" class="form-control input-sm" placeholder="Street address">
                                    {% if 'street_address' in errors %}
                                        {{ errors.street_address }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" name="unit_number" id="unit_number" class="form-control input-sm" placeholder="Unit">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City">
                            {% if 'city' in errors %}
                                {{ errors.city }}
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- I would like a better looking arrow: -->
                                    <select class="form-control" name="state" id="state">
                                        <option>Texas</option>
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>Arizona</option>
                                        <option>Arkansas</option>
                                        <option>California</option>
                                        <option>Colorado</option>
                                        <option>Connecticut</option>
                                        <option>Delaware</option>
                                        <option>District of Columbia</option>
                                        <option>Florida</option>
                                        <option>Georgia</option>
                                        <option>Hawaii</option>
                                        <option>Idaho</option>
                                        <option>Illinois</option>
                                        <option>Indiana</option>
                                        <option>Iowa</option>
                                        <option>Kansas</option>
                                        <option>Kentucky</option>
                                        <option>Louisiana</option>
                                        <option>Maine</option>
                                        <option>Maryland</option>
                                        <option>Massachusetts</option>
                                        <option>Michigan</option>
                                        <option>Minnesota</option>
                                        <option>Mississippi</option>
                                        <option>Missouri</option>
                                        <option>Montana</option>
                                        <option>Nebraska</option>
                                        <option>Nevada</option>
                                        <option>New Hampshire</option>
                                        <option>New Jersey</option>
                                        <option>New Mexico</option>
                                        <option>New York</option>
                                        <option>North Carolina</option>
                                        <option>North Dakota</option>
                                        <option>Ohio</option>
                                        <option>Oklahoma</option>
                                        <option>Oregon</option>
                                        <option>Pennsylvania</option>
                                        <option>Rhode Island</option>
                                        <option>South Carolina</option>
                                        <option>South Dakota</option>
                                        <option>Tennessee</option>
                                        <option>Utah</option>
                                        <option>Vermont</option>
                                        <option>Virginia</option>
                                        <option>Washington</option>
                                        <option>West Virginia</option>
                                        <option>Wisconsin</option>
                                        <option>Wyoming</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="zip_code" id="zip_code" class="form-control input-sm" placeholder="Zip">
                                    {% if 'zip_code' in errors %}
                                        {{ errors.zip_code }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone_number" id="phone_number" class="form-control input-sm" placeholder="Phone">
                            {% if 'phone_number' in errors %}
                                {{ errors.phone_number }}
                            {% endif %}
                        </div>

                        <div class="panel panel-default">
                            <img class="col-md-8" src='{% static "images/divider9.png" %}' alt="" class="img-responsive">
                        </div>

                        <!-- Section for musical information: -->
                        <h5>Musical information:</h5>
                        <div class="row">
                            <!-- TODO: better way to preload instrument names -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="primary_instrument" id="primary_instrument" placeholder="Primary instrument">
                                        <option selected disabled>Primary instrument</option>
                                        {% for instrument in instruments %}
                                            <option value='{{ instrument.id }}'>{{ instrument }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if 'primary_instrument' in errors %}
                                        {{ errors.primary_instrument }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="secondary_instrument" id="second_instrument" placeholder="Secondary instrument">
                                        <option selected disabled>Second instrument</option>
                                        <option>None</option>
                                        {% for instrument in instruments %}
                                            <option value='{{ instrument.id }}'>{{ instrument }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea type="bio" name="bio" id="bio" class="form-control textarea" rows="5" placeholder="Brief musical bio"></textarea>
                            {% if 'bio' in errors %}
                                {{ errors.bio }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="rating" id="rating" placeholder="Self rating">
                                <option selected disabled>Self rating</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </div>
                   
                    <input type="submit" value="SUBMIT FORM" class="btn btn-reg btn-info btn-block">

                    </form>  

                <!-- End div for panel-body: -->        
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
