{% extends 'public_base.html' %}

<head>
    {% load static %}

    <!-- Load CSS (different for each template): -->
    {% block load_css %}
        <link rel="stylesheet" type="text/css" href='{% static "css/register_member.css" %}'>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

        <!-- Logo -->
        <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

        <!-- Navbar links -->
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="/public/welcome/">WELCOME</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link active" href="/public/register_member/">REGISTER AS MEMBER</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/public/register_coach/">REGISTER AS COACH</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/public/register_supporter/">SIGN UP FOR E-NEWSLETTER</a>
            </li>
        </ul>

        <!-- Navbar right -->
        <ul class="navbar-nav ml-auto">
            <!-- Link to external login: -->
            <li class="navbar-item">
                <a class="nav-link" href="/accounts/login/">LOGIN</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block main_body %}
<div class="container-fluid" id="form-container">
            <div class="row" id="form-itself">

                <!-- empty div for spacing: -->
                <div class="col-md-4"></div>

                <!-- This div contains the actual form: -->
                <div class="col-md-4" id="inner-form-container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">MEMBER REGISTRATION FORM<sup>*</sup></h3>
                        </div>
                    </div>

                    <!-- Panel for curlicue divider: -->
                    <div class="panel panel-default">
                        <img class="col-md-8" src='{% static "images/divider.jpg" %}' alt="" class="img-responsive">
                    </div>

                    <div class="panel-body">
                        <form method="POST">
                            <h1>Login form</h1>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-dark">Login</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
</body>
</html>