{% extends 'public_base.html' %}

<head>
    {% load static %}

    <!-- Load CSS (different for each template): -->
    {% block load_css %}
        <link rel="stylesheet" type="text/css" href='{% static "css/success.css" %}'>
    {% endblock %}
</head>

<body>
    {% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/public/welcome/">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/public/register_member/">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/public/register_coach/">REGISTER AS COACH</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/public/register_patron/">SIGN UP FOR E-NEWSLETTER</a>
                </li>
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link" href="/public/login/">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    {% block main_body %}
    <div class="container-fluid" id="main-container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-fluid" src='{% static "images/7.jpg" %}' alt="" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>Congratulations!</h3><br>
                        <h5>You have successfully registered to be a member, coach, or patron with Houston Chamber Music Network. Expect to hear from us soon.</h5><br>
                        <h5>Thank you.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>