{% extends 'public_base.html' %}
{% load static %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/welcome.css" %}'>
{% endblock %}


{% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link active" href="{% url 'public:welcome' %}">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
                </li>
                <!-- <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
                </li> -->
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main_content %}

<div class="container-fluid" id="main-container">
    <div id="info-box">
        <div class="col-md-4" id="photo-box1"></div>
        <div class="col-md-8" id="text-box">
            <h2>Perform... with new friends.</h2>
            <p class="lead"><a class="btn btn-info btn-lg btn-md" href="{% url 'public:about' %}" role="button">ABOUT US</a></p>
        </div>
    </div>

    <div id="info-box">
        <div class="col-md-4" id="photo-box2">

        </div>
        
    </div>

    <div id="info-box">
        <div class="col-md-4" id="photo-box3">

        </div>
        
    </div>   
<!-- End main container: -->  
</div>


{% endblock %}
