{% extends 'public_base.html' %}
{% load static %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" href='{% static "css/welcome.css" %}'>
{% endblock %}


{% block header %}
    <div class="container-fluid" id="navbar-container">
        <nav class="navbar navbar-expand-sm fixed-top">

            <!-- Logo -->
            <a class="navbar-brand"><h5 class="brand">Houston Chamber Music Network</h5></a>

            <!-- Navbar links -->
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link active" href="{% url 'public:welcome' %}">WELCOME</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_member' %}">REGISTER AS MEMBER</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_coach' %}">REGISTER AS COACH</a>
                </li>
                <!-- <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:new_patron' %}">SIGN UP FOR E-NEWSLETTER</a>
                </li> -->
            </ul>

            <!-- Navbar right -->
            <ul class="navbar-nav ml-auto">
                <!-- Link to external login: -->
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'public:login' %}">LOGIN</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block main_content %}

<div class="container-fuid" id="main-container">
    <div class="container py-3" id="info-box">
        <div class="card">
            <div class="row">
                <div class="col-md-4" id="photo-box1">
                    <img class="w-100" src='{% static "images/carousel1.jpg" %}'>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h1>Connect</h1>
                        <h3>with musicians in your area.</h3>
                        <p class="lead"><a class="btn btn-info btn-lg btn-md" href="{% url 'public:new_member' %}" role="button">REGISTER AS MEMBER</a></p>
                    </div>

                </div>
            </div> 
        </div>
    </div>

    <div class="container py-3" id="info-box">
        <div class="card">
            <div class="row">
                <div class="col-md-4" id="photo-box1">
                    <img class="w-100" src='{% static "images/carousel2.jpg" %}'>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h1>Perform</h1>
                        <h3>with new friends.</h3>
                        <p class="lead"><a class="btn btn-info btn-lg btn-md" href="{% url 'public:about' %}" role="button">ABOUT US</a></p>
                    </div>

                </div>
            </div> 
        </div>
    </div>

    <div class="container py-3" id="info-box">
        <div class="card">
            <div class="row">
                <div class="col-md-4" id="photo-box1">
                    <img class="w-100" src='{% static "images/carousel3.jpg" %}'>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h1>Share</h1>
                        <h3>your passion with others.</h3>
                        <p class="lead"><a class="btn btn-info btn-lg btn-md" href="{% url 'public:new_coach' %}" role="button">REGISTER AS COACH</a></p>
                    </div>

                </div>
            </div> 
        </div>
    </div>




    
<!-- End main container: -->  
</div>


{% endblock %}
